html,body {
	height:100%;
	width:100%;
	/*font-size: 50px;*/
}
body {
	display: flex;
	flex-direction: column;
	font-size: 0.24rem;
}
.w{
	width: 6.9rem;
	margin: 0 auto;
}
.header {
	box-sizing: border-box;
	height: 0.8rem;
	flex-shrink: 0;
	display: flex;
	padding: 0.1rem 0;
	justify-content: center;
}
.header>div {
	display: flex;
}
.header>div:nth-child(1) {
	align-items: flex-start;
	justify-content: center;
}
.header>div:nth-child(2) {
	flex-grow: 1;
}
.header>div:nth-child(3) {
	align-items: flex-end;
	justify-content: center;
}
.logo {

}
.logo>img {
	width: 1.28rem;
	height: 0.56rem;
}
.search {
}
.search>input {
	flex-grow: 1;
	border: 1px solid #ccc;
}
.mail {/*
	align-items: center;
	justify-content: center; */
}
.mail>img {
	height: 0.56rem;
	width: 0.56rem;
}

.content {
	flex-grow: 1;
	overflow: auto;
}

.banner { position: relative;height:300px; }
.banner-images {
	padding-top: 240%;
	display: inline-block;
}
.banner-images>li {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.5s;
}
.banner-images>li.active {
	opacity: 1;
}
.banner-images>li>a {
	display: block;
	font-size: 0;
}

.banner-images>li>a>img {
	width: 100%;
}

.banner-indicators {
	position: absolute;
	left: 82%;
	bottom: 20px;
	background-color: rgba( 0, 0, 0, 0);
	transform: translateX(-50%);
	border-radius: 15px;
}
.banner-indicators>li {
	float: right;
	width: 12px;
	height: 12px;
	background-color: rgb( 255, 255, 255);
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: rgba( 0, 0, 0, 0.3);
	margin-left: 5px;
}
.banner-indicators>li.active { background-color: orange;}

.content-item1 {}
.content-item1>ul {
	display: flex;
	flex-direction: row;
}
.content-item1>ul>li {
	width: 20%;
}
.content-item1>ul>li>img {
	width: 100%;
}
.content-item2 {
	display: block;
}
.content-item2>img {
	width: 100%;
}

.contengt-item3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:10px 4px 10px 6px;
}
.contengt-item3>h3 {
	font-size: .30rem;
	color: #333333;
	font-weight: normal;
}
.contengt-item3>span {
	display: flex;
	justify-content: center;
}
.contengt-item3>span>p {
	display: inline-block;
	color: #999999;
	font-size: 26px;
}
.contengt-item3>span>img {
	width: 17px;
	height:17px;
	padding-top: 10px;
}
.content-item4 {
	/*display: flex;*/
	/*justify-content:space-between;*/
}
.content-item4>ul {
	display: flex;
	justify-content: space-around;
}
.content-item4>ul>li {
	width: 50%;
}
.content-item4>ul>li>img {
	width:100%;
}
.content-item5 {}
.content-item5>ul {
	display: flex;
}
.content-item5>ul>li {
	width:50%;
}
.content-item5>ul>li:nth-child(1) {
	background-image: url(../images/home/a1.png);
	background-size: 120% auto ;
	background-repeat: no-repeat;
	background-position: center center;
}
.content-item5>ul>li>h4 {
	font-weight: normal;
	font-size: 26px;
	padding-left:20px;
}
.content-item5>ul>li>p {
	padding-top:5px;
	color: #c04343;
	font-size: 24px;
	padding-left:20px;
}
.content-item5>ul>li>div {}
.content-item5>ul>li>div>h4 {
	font-weight: normal;
	padding-left:20px;
	font-size: 26px;
}
.content-item5>ul>li>div>p {
	padding-left:20px;
	font-size: 24px;
}
.content-item5>ul>li>div>img {
	width: 1.72rem;
	height:1.72rem;
	padding-left:70px;
}
.content-item6 {}
.content-item6>ul {
	display: flex;
}
.content-item6>ul>li:nth-child(1) {
	width:50%;
	height:2.72rem;;
	background-image: url("../images/home/a4.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}
.content-item6>ul>li:nth-child(2) {
	width:50%;
	height:2.72rem;
	background-image: url("../images/home/img (8).jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}
.content-item6>ul>li>span {
	font-size:26px;
	padding-left:20px;
}
.content-item6>ul>li>p {
	color: #c04343;
	font-size:28px;
	padding-left:20px;
}

.footer {
	height: 1rem;
	flex-shrink: 0;
}
.footer>ul {
	height: 100%;
	display: flex;
}
.footer>ul>li {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.footer>ul>li>a {
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	color: rgb(132,95,63);
}
.footer>ul>li>a>i {
	width: 0.48rem;
	height: 0.48rem;
	/* background-color: blue; */
	background: url(../images/nav_bg.png) no-repeat;
	background-size: 0.48rem 4.8rem;
}
.footer>ul>li>a>span {
	font-size: 20px;
}

.footer>ul>li:nth-child(1)>a>i { background-position: 0 0;}
.footer>ul>li:nth-child(2)>a>i { background-position: 0 22.22222%;}
.footer>ul>li:nth-child(3)>a>i { background-position: 0 44.44444%;}
.footer>ul>li:nth-child(4)>a>i { background-position: 0 66.66666%;}
.footer>ul>li:nth-child(5)>a>i { background-position: 0 88.88888%;}
.footer>ul>li:nth-child(1).active>a>i { background-position: 0 11.11111%;}
.footer>ul>li:nth-child(2).active>a>i { background-position: 0 33.33333%;}
.footer>ul>li:nth-child(3).active>a>i { background-position: 0 55.55555%;}
.footer>ul>li:nth-child(4).active>a>i { background-position: 0 77.77777%;}
.footer>ul>li:nth-child(5).active>a>i { background-position: 0 99.99999%;}
